<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <link href="/img/favicon.png" rel="icon" type="image/x-icon" />
    <!-- Favicon by: https://www.flaticon.com/authors/becris -->
    <title>Recipes Arround the World</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">All Recipes</a>
            </li>
            <li>
                <a href="/about">About Us!</a>
            </li>
        </ul>
    </nav>

    <h1>Hey! You're awesome</h1>

    <form method="POST">
    <section class="card-container" >
        
        <section class="inside-card">
            <label for="recipe_name">Name:</label>
            <textarea type="text" name="recipe_name" required><%= menu.recipe_name %></textarea>
            <span class="underline"></span>
        </section>

        <section class="inside-card">
            <label for="recipe_cuisine">Country:</label>
            <textarea type="text" name="recipe_cuisine" required><%= menu.recipe_cuisine %></textarea>
        </section>

        <section class="inside-card">
            <label for="recipe_history">History:</label>
            <textarea type="text" name="recipe_history" required><%= menu.recipe_history %></textarea>
        </section>

        <section class="inside-card">
            <label for="recipe_image_url">Image:</label>
            <textarea type="text" name="recipe_image_url" required><%= menu.recipe_image_url %></textarea>
        </section>
          
        <section class="inside-card">
            <label for="recipe_ingredients">Ingredients:</label>
            <textarea type="text" name="recipe_ingredients" required><%= menu.recipe_ingredients %></textarea>
        </section>
         
        <section class="inside-card">
            <label for="recipe_prep_method">Prep Method:</label>
            <textarea type="text" name="recipe_prep_method" required ><%= menu.recipe_prep_method %></textarea>
        </section>

        <input type="hidden" name="recipe_id" value="<%= menu.recipe_id%>">
        
        <button type="submit">Let's Cook!</button>
        
    </section>
    </form>
    

</body>
</html>